<h1>Listing clubs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <% if owner_signed_in? or member_signed_in? %>
        <th colspan="4">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.address %></td>
        <td>
          <%= link_to 'Show', club %>

          <% if owner_signed_in? and current_owner.is_owner_of?(club) %>
            <%= link_to 'Edit', edit_club_path(club) %>
          <% elsif member_signed_in? %>
            <% if current_member.is_member_of?(club) %>
              <%= link_to 'Leave', leave_club_path(club) %>
            <% else %>
              <%= link_to 'Join', join_club_path(club) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if owner_signed_in? and current_owner.has_no_club? %>
  <%= link_to 'New Club', new_club_path %>
<% end %>
